<div class="col-10 offset-1 about">
  <h1>About Splurty</h1>
  <p>
    Splurty was built by <a target="_blank" href="http://Madelyn.Hobbs@gmail.com">Madelyn Hobbs</a> A beginner programmer who wants to have the web opened up and learn all she can.
  </p>
  <br />
  <p>
    Soon she'll be able to confidently do jobs and develop web sites that she can be proud of.
  </p>
  <p>
    If you want to learn how to code - start <a target="_blank" href="http://www.thefirehoseproject.com/"> here</a>.
  </p>


  <div class="row">
      <div class="col-12 col-sm-4">
        <%= image_tag 'me.jpg', class: 'img-fluid' %>
      </div>

      <div class="col-12 col-sm-7 offset-sm-1">
        <h2 class="text-center">Madelyn Hobbs</h2>
        <br />
        <p>
          Madelyn is currently learning Ruby on rail and developing websites to share with the world.
        </p>
      </div>
    </div>
    <br class="clear" />

</div>

<br class="clear" />
<br />
<br />
<br />
<br />
